<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Users
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <p-table [scrollable]="true" scrollHeight="350px"
             [responsive]="true" [value]="users">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td *ngFor="let col of cols">
                    {{item[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-table [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20,50,100]"
             [scrollable]="true" scrollHeight="350px"
             [responsive]="true" [value]="users">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td *ngFor="let col of cols">
                    {{item[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-table [columns]="cols" [value]="users" [scrollable]="true" scrollHeight="350px">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
