<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Users
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="taskboard">
        <div class="column" [ngClass]="col.className" *ngFor="let col of columns">
            <div class="column-header">
                <div class="count-tasks">{{col.tasks.length}}</div>
                <div class="col-title">{{col.title}}</div>
                <i class="flaticon-more"></i>
            </div>
            <div class="tasks">
                <div class="dropabble"
                     [class.no-tasks]="!col.tasks || !col.tasks.length"
                     ngxDroppable="tasks"
                     [model]="col.tasks">
                    <div class="task" *ngFor="let task of col.tasks" ngxDraggable="tasks" [model]="task">
                        <!--<div class="handler" ngxDragHandle>-->
                            <!--<i class="fa fa-ellipsis-h" aria-hidden="true"></i>-->
                        <!--</div>-->
                        <div class="task-content">
                            <div class="task-title">{{task.title}}</div>

                            <div class="attendant">
                                <div class="user-photo" *ngFor="let photo of task.users">
                                    <img class="user"
                                         [src]="photo"/>
                                </div>
                            </div>
                        </div>
                        <div class="task-footer">
                            <div class="count">
                                <i class="flaticon-attachment"></i>
                                <div class="value">{{task.attachments}}</div>
                            </div>
                            <div class="count">
                                <i class="flaticon-comment"></i>
                                <div class="value">{{task.comments}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-task-button" (click)="addTask()" *ngIf="col.tasks && col.tasks.length">
                    <i class="fa fa-plus"></i> Add task
                </div>
            </div>
        </div>
    </div>
</div>
