<div class="m-wizard__form-step m-wizard__form-step--current section-1" id="m_wizard_form_step_1">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="m-form__section m-form__section--first">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">FOR SSQ USE</h3>
                </div>
                <!-- 1 -->
                <div class="form-group m-form__group row">
                    <label class="col-xl-2 col-form-label">Investigation Title</label>
                    <div class="col-xl-10">
                        <input type="text" name="name" class="form-control m-input" placeholder="" aria-describedby="name-error"
                            aria-invalid="false">
                    </div>
                </div>

                <!-- 2 -->
                <div class="form-group m-form__group row">
                    <div class="col-xl-6 ">
                        <label class="col-xl-4 col-form-label col-form-label-left">Event
                            Report ID</label>
                        <div class="col-xl-8 col-form-label-right">
                            <input type="email" name="email" class="form-control m-input" placeholder="">
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <label class="col-xl-4 col-form-label col-form-label-left">Date
                            of Event</label>
                        <div class="col-xl-8 col-form-label-right">
                            <div class="input-group date">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 3 -->
                <div class="form-group m-form__group row">
                    <div class="col-xl-6 ">
                        <label class="col-xl-4 col-form-label col-form-label-left">Date
                            Assigned</label>
                        <div class="col-xl-8 col-form-label-right">
                            <div class="input-group date">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control" value="">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <label class="col-xl-4 col-form-label col-form-label-left">Report
                            Classification</label>
                        <div class="col-xl-8 col-form-label-right">
                            <div class="input-group date">
                                <div class="input-group date">
                                    <input type="text" class="form-control">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th">
                                            <i class="la la-check"></i>
                                        </span>
                                    </div>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 4 -->
                <div class="form-group m-form__group row">
                    <div class="col-xl-6">
                        <label class="col-xl-4 col-form-label col-form-label-left">Event Classification
                            <p class="text-small">(added 20 Feb 2018)</p>
                        </label>
                        <div class="col-xl-8 col-form-label-right">
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <label class="col-xl-4 col-form-label col-form-label-left">Report Classification</label>
                        <div class="col-xl-8 col-form-label-right">
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 5 -->
                <div class="form-group m-form__group row">
                    <div class="col-xl-6 ">
                        <label class="col-xl-4 col-form-label col-form-label-left">Priority</label>
                        <div class="col-xl-8 col-form-label-right">
                            <div class="input-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <label class="col-xl-4 col-form-label col-form-label-left">Due Date</label>
                        <div class="col-xl-8 col-form-label-right">
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" value="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 6 -->
                <div class="form-group m-form__group row">
                    <label class="col-xl-2 col-form-label">Link to Original Report</label>
                    <div class="col-xl-10">
                        <input type="text" name="name" class="form-control m-input" placeholder="" aria-describedby="name-error"
                            aria-invalid="false">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>