.col-form-label-right {
    float: right;
    padding-right: 0 !important;
}

.text-small {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.col-xl-6 {
  padding-left: 0 !important;
}

.col-form-label {
  font-size: 13px !important;
}

.col-form-label-left {
  float: left;
}