<h4>Risk Evaluation Matrix</h4>
<table class="table-risk-matrix">
    <thead>
    <th class="level-description-col"></th>
    <th>Risk Acceptability</th>
    <th>Urgency of Action</th>
    <th>Process</th>
    <th>Management Notification & Involvement</th>
    </thead>
    <tbody>
    <tr>
        <td class="extreme">Extreme</td>
        <td rowspan="2">Generally not tolerable</td>
        <td>Stop immediate attention required.
            Do not proceed until risk is mitigated
        </td>
        <td>Specific action plan required before operation re-starts</td>
        <td rowspan="2">CEO</td>
    </tr>
    <tr>
        <td class="high">High</td>
        <td>Significiant risk that requires immediate attention</td>
        <td>Risks must be understood and risk reduction and controls in place</td>
    </tr>
    <tr>
        <td class="medium">Medium</td>
        <td>ALARP</td>
        <td>Significiant risk that requires mitigation and monitoring</td>
        <td>Management responsibility identified.
            Specific actions allocated with timeframes
        </td>
        <td>Department Head</td>
    </tr>
    <tr>
        <td class="low">Low</td>
        <td>Generally tolerable</td>
        <td>Risks is considered not significant. Mitigation and monitoring required.</td>
        <td>Normally managed by routine procedures or minor mitigation</td>
        <td>Manager</td>
    </tr>
    </tbody>
</table>

<div class="m-form__group form-group row">
    <label class="col-3 col-form-label">Types of Controls (mitigations)
        needed</label>
    <div class="m-checkbox-list col-9">
        <label class="m-checkbox">
            <input type="checkbox"> Eliminate - Remove the hazard
            <span></span>
        </label>
        <label class="m-checkbox">
            <input type="checkbox"> Substitute - Replace the process or component
            <span></span>
        </label>
        <label class="m-checkbox">
            <input type="checkbox"> Isolate - Isolate the hazard from all who might be harmed
            <span></span>
        </label>
        <label class="m-checkbox">
            <input type="checkbox"> Engineering controls - Install machinery to control the risk
            <span></span>
        </label>
        <label class="m-checkbox">
            <input type="checkbox"> Administrative controls - Change procedures / Provide training
            <span></span>
        </label>
        <label class="m-checkbox">
            <input type="checkbox"> Personal Protective Equipment
            <span></span>
        </label>
    </div>
</div>
<div class="m-form__group form-group row">
    <label class="col-3 col-form-label">Recommended Corrective Action(s) /
        Controls</label>
    <div class="m-checkbox-list col-9">
        <textarea class="form-control m-input" rows="6" placeholder="Enter the Hazard 1"></textarea>
    </div>
</div>