<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Steps
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Client Registration
                        <small>form wizard example</small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="" data-original-title="Get help with filling up this form">
                            <i class="flaticon-info m--icon-font-size-lg3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-wizard m-wizard--2 m-wizard--success m-wizard--step-first" id="m_wizard">
            <!--begin: Message container -->
            <div class="m-portlet__padding-x">
                <!-- Here you can put a message or alert -->
            </div>
            <!--end: Message container -->
            <!--begin: Form Wizard Head -->
            <div class="m-wizard__head m-portlet__padding-x">
                <!--begin: Form Wizard Progress -->
                <div class="m-wizard__progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" [style.width.%]="(currentStep - 1) * 100.0 / 3"></div>
                    </div>
                </div>
                <!--end: Form Wizard Progress -->
                <!--begin: Form Wizard Nav -->
                <div class="m-wizard__nav">
                    <div class="m-wizard__steps">
                        <div class="m-wizard__step" [class.m-wizard__step--done]="currentStep > 1"
                             [class.m-wizard__step--current]="currentStep===1">
                            <a href="javascript:void(0)" (click)="setStep(1)" class="m-wizard__step-number">
                                <span><i class="fa  flaticon-placeholder"></i></span>
                            </a>
                            <div class="m-wizard__step-info">
                                <div class="m-wizard__step-title">
                                    For SSQ Use
                                </div>
                                <!--<div class="m-wizard__step-desc">-->
                                    <!--Lorem ipsum doler amet elit<br>-->
                                    <!--sed eiusmod tempors-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="m-wizard__step" [class.m-wizard__step--done]="currentStep > 2"
                             [class.m-wizard__step--current]="currentStep===2">
                            <a href="javascript:void(0)" (click)="setStep(2)" class="m-wizard__step-number">
                                <span><i class="fa  flaticon-layers"></i></span>
                            </a>
                            <div class="m-wizard__step-info">
                                <div class="m-wizard__step-title">
                                    For Departmental Use
                                </div>
                                <!--<div class="m-wizard__step-desc">-->
                                    <!--Lorem ipsum doler amet elit<br>-->
                                    <!--sed eiusmod tempors-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="m-wizard__step" [class.m-wizard__step--done]="currentStep > 3"
                             [class.m-wizard__step--current]="currentStep===3">
                            <a href="javascript:void(0)" (click)="setStep(3)" class="m-wizard__step-number">
                                <span><i class="fa  flaticon-layers"></i></span>
                            </a>
                            <div class="m-wizard__step-info">
                                <div class="m-wizard__step-title">
                                    Identified Hazards and potential Consequences
                                </div>
                                <!--<div class="m-wizard__step-desc">-->
                                    <!--Lorem ipsum doler amet elit<br>-->
                                    <!--sed eiusmod tempors-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="m-wizard__step" [class.m-wizard__step--done]="currentStep > 4"
                             [class.m-wizard__step--current]="currentStep===4">
                            <a href="javascript:void(0)" (click)="setStep(4)" class="m-wizard__step-number">
                                <span><i class="fa  flaticon-layers"></i></span>
                            </a>
                            <div class="m-wizard__step-info">
                                <div class="m-wizard__step-title">
                                    Risk Evaluation Matrix
                                </div>
                                <!--<div class="m-wizard__step-desc">-->
                                <!--Lorem ipsum doler amet elit<br>-->
                                <!--sed eiusmod tempors-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard Nav -->
            </div>
            <!--end: Form Wizard Head -->
            <!--begin: Form Wizard Form-->
            <div class="m-wizard__form" *ngIf="currentStep === 1">
                <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                    -->
                <form class="m-form m-form--label-align-left- m-form--state-" id="m_form" novalidate="novalidate">
                    Form content goes here
                    <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-4 m--align-left">
                                    <a href="javascript:void(0)"
                                       class="btn btn-secondary m-btn m-btn--custom m-btn--icon"
                                       (click)="setStep(currentStep-1)">
                                <span>
                                <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                <span>Back</span>
                                </span>
                                    </a>
                                </div>
                                <div class="col-lg-4 m--align-right">
                                    <a href="javascript:void(0)" class="btn btn-primary m-btn m-btn--custom m-btn--icon"
                                       data-wizard-action="submit">
                                <span>
                                <i class="la la-check"></i>&nbsp;&nbsp;
                                <span>Submit</span>
                                </span>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-warning m-btn m-btn--custom m-btn--icon"
                                       (click)="setStep(currentStep+1)">
                                <span>
                                <span>Save &amp; Continue</span>&nbsp;&nbsp;
                                <i class="la la-arrow-right"></i>
                                </span>
                                    </a>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="m-wizard__form" *ngIf="currentStep === 2">
                Step 2
                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 m--align-left">
                                <a href="javascript:void(0)" class="btn btn-secondary m-btn m-btn--custom m-btn--icon"
                                   (click)="setStep(currentStep-1)">
                                <span>
                                <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                <span>Back</span>
                                </span>
                                </a>
                            </div>
                            <div class="col-lg-4 m--align-right">
                                <a href="javascript:void(0)" class="btn btn-primary m-btn m-btn--custom m-btn--icon"
                                   data-wizard-action="submit">
                                <span>
                                <i class="la la-check"></i>&nbsp;&nbsp;
                                <span>Submit</span>
                                </span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-warning m-btn m-btn--custom m-btn--icon"
                                   (click)="setStep(currentStep+1)">
                                <span>
                                <span>Save &amp; Continue</span>&nbsp;&nbsp;
                                <i class="la la-arrow-right"></i>
                                </span>
                                </a>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-wizard__form" *ngIf="currentStep === 3">
                Step 3
                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 m--align-left">
                                <a href="javascript:void(0)" class="btn btn-secondary m-btn m-btn--custom m-btn--icon"
                                   (click)="setStep(currentStep-1)">
                                <span>
                                <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                <span>Back</span>
                                </span>
                                </a>
                            </div>
                            <div class="col-lg-4 m--align-right">
                                <a href="javascript:void(0)" class="btn btn-primary m-btn m-btn--custom m-btn--icon"
                                   data-wizard-action="submit">
                                <span>
                                <i class="la la-check"></i>&nbsp;&nbsp;
                                <span>Submit</span>
                                </span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-warning m-btn m-btn--custom m-btn--icon"
                                   (click)="setStep(currentStep+1)">
                                <span>
                                <span>Save &amp; Continue</span>&nbsp;&nbsp;
                                <i class="la la-arrow-right"></i>
                                </span>
                                </a>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-wizard__form" *ngIf="currentStep === 4">
                Step 3
                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 m--align-left">
                                <a href="javascript:void(0)" class="btn btn-secondary m-btn m-btn--custom m-btn--icon"
                                   (click)="setStep(currentStep-1)">
                                <span>
                                <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                <span>Back</span>
                                </span>
                                </a>
                            </div>
                            <div class="col-lg-4 m--align-right">
                                <a href="javascript:void(0)" class="btn btn-primary m-btn m-btn--custom m-btn--icon"
                                   data-wizard-action="submit">
                                <span>
                                <i class="la la-check"></i>&nbsp;&nbsp;
                                <span>Submit</span>
                                </span>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-warning m-btn m-btn--custom m-btn--icon"
                                   (click)="setStep(currentStep+1)">
                                <span>
                                <span>Save &amp; Continue</span>&nbsp;&nbsp;
                                <i class="la la-arrow-right"></i>
                                </span>
                                </a>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Form Wizard Form-->
        </div>

    </div>
</div>
